<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Fantasy Stats Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>NBA Fantasy Stats Scraper</h1>

    <form action="/scrape" method="post">
        <label for="player_name">Enter player name:</label>
        <input type="text" id="player_name" name="player_name" required>
        <button type="submit">Scrape Data</button>
    </form>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    {% if result %}
        <h2>Results:</h2>
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>
